In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("ETHUSDT-trades-2022-09-30.csv",
                names = ["id","price","qty","quoteQty","time","makerBuy","bestPrice"])

df["time"] = pd.to_datetime(df["time"], unit = "ms")
df.set_index("time", inplace = True)

In [17]:
df.price.resample("1H").agg({
    "open":"first",
    "high":"max",
    "low":"min",
    "close":"last"
})

                        open     high      low    close
time
2022-09-30 00:00:00  1335.69  1352.30  1327.50  1337.51
2022-09-30 01:00:00  1337.52  1338.22  1328.26  1335.97
2022-09-30 02:00:00  1335.97  1336.88  1325.00  1326.39
2022-09-30 03:00:00  1326.38  1329.61  1320.12  1327.49
2022-09-30 04:00:00  1327.50  1331.07  1325.80  1328.49
2022-09-30 05:00:00  1328.49  1335.59  1328.17  1329.87
2022-09-30 06:00:00  1329.87  1334.63  1329.53  1332.98
2022-09-30 07:00:00  1332.98  1346.10  1332.37  1339.88
2022-09-30 08:00:00  1339.89  1349.36  1337.30  1348.60
2022-09-30 09:00:00  1348.61  1349.00  1339.17  1342.47
2022-09-30 10:00:00  1342.48  1344.68  1332.09  1337.08
2022-09-30 11:00:00  1337.07  1339.63  1326.01  1330.80
2022-09-30 12:00:00  1330.79  1343.50  1313.35  1327.48
2022-09-30 13:00:00  1327.47  1337.00  1315.71  1335.63
2022-09-30 14:00:00  1335.63  1364.27  1332.60  1360.09
2022-09-30 15:00:00  1360.10  1373.19  1348.06  1351.09
2022-09-30 16:00:00  1351.09  1361.72  1342.22  1352.24
2022-09-30 17:00:00  1352.24  1357.20  1341.21  1345.28
2022-09-30 18:00:00  1345.29  1354.24  1342.89  1347.65
2022-09-30 19:00:00  1347.65  1354.97  1333.00  1337.56
2022-09-30 20:00:00  1337.54  1344.98  1328.02  1331.73
2022-09-30 21:00:00  1331.73  1331.74  1323.01  1323.18
2022-09-30 22:00:00  1323.18  1326.87  1316.41  1322.49
2022-09-30 23:00:00  1322.49  1329.22  1319.13  1328.72